# Conhecendo o DataSet

In [260]:
# Instalando o Pandas
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [261]:
# Importar o Pandas
import pandas as pd

In [262]:
dados = "dataset/anacondabank_credit_scoring.csv"

In [263]:
# carregar o DataSet
df = pd.read_csv(dados)

In [264]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [265]:
df.tail()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
995,0,no checking account,12,existing credits paid back duly till now,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,< 0 DM,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,no checking account,12,existing credits paid back duly till now,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,< 0 DM,45,existing credits paid back duly till now,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

In [266]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               1000 non-null   object
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   object
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   object
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [267]:
# definir quantidade de linhas
linhas = df.shape[0]
print(f"Quantidade de linhas {linhas}")

Quantidade de linhas 1000

In [268]:
# definir quantidade de colunas
colunas = df.shape[1]
print(f"Quantidade de colunas {colunas}")

Quantidade de colunas 21

In [269]:
# vamos conferir se a base tem ados nulos e duplicados
duplicados = df.duplicated()
duplicados = duplicados.sum()
print(f"A base de tem {duplicados} dados duplicados")

A base de tem 0 dados duplicados

In [270]:
# verificar nulos
nulos = df.isnull()
nulos.sum()

default                        0
conta_corrente                 0
prazo_emprestimo_meses         0
historico_credito              0
proposito_emprestimo           0
valor_emprestimo               0
reserva_cc                     0
tempo_emprego_atual            0
taxa_comp_salario              0
sexo_est_civil                 0
outros_fiadores                0
anos_residencia_atual          0
propriedade                    0
idade                          0
outros_planos_financiamento    0
tipo_residencia                0
n_creditos_banco               0
status_emprego                 0
n_dependentes                  0
telefone                       0
trabalhador_estrangeiro        0
dtype: int64

# Criando o modelo preditivo

In [271]:
# Identificar valores da variável alvo (target) - variável depedente
y = df['default']
y.head()

0    0
1    1
2    0
3    0
4    1
Name: default, dtype: int64

In [272]:
# Identificar valores das variáveis independentes

X = df.drop(columns='default')
X.head()

,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,outros_fiadores,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,none,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,none,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,guarantor,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,none,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

# Instalando A biblioteca de Machine Learning

In [273]:
# Vamos instalar
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from scikit-learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\ead\desktop\aulas pyhon leandro\creditscoring\.venv\lib\site-packages (from scikit-learn) (3.5.0)

# Separe dados de treino e teste

In [274]:
# separando 70/30
from sklearn.model_selection import train_test_split
SEED = 77
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=SEED)

In [275]:
# importando
from sklearn.linear_model import LogisticRegression

In [276]:
# Criar Objeto modelo da classe Logistcregression
modelo = LogisticRegression()

# Lembra do conceito de String e Float?

# Vamos transformar texto e número

In [277]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [278]:
# Criando uma cópia para apresentar um novo DataSet
df_transformado = df.copy()

In [279]:
# Mostrando os 5 primeiros 
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [280]:
df_transformado

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,no checking account,12,existing credits paid back duly till now,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,< 0 DM,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,no checking account,12,existing credits paid back duly till now,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,< 0 DM,45,existing credits paid back duly till now,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

# Verificando a primeira coluna (String)

In [281]:
# Mostrar valores NÂO duplicados
df_transformado['conta_corrente'].unique()

array(['< 0 DM', '0 <= ... < 200 DM', 'no checking account',
       '>= 200 DM / salary assignments for at least 1 year'], dtype=object)

# Mapeando

In [282]:
# ETAPA 1 - UNIQUE
df_transformado['conta_corrente'].unique()
print(df_transformado)

# ETAPA 2 DICIONÁRIO
#par:chave (chave:valor)
dict_cc = {
    '< 0 DM':1,
    '0 <= ... < 200 DM':2,
    'no checking account':3,
    '>= 200 DM / salary assignments for at least 1 year':4
}
# mapear (map)
#dataset = dataset['coluna].map(dicionario)
df_transformado['conta_corrente'] = df_transformado['conta_corrente'].map(dict_cc)

     default       conta_corrente  prazo_emprestimo_meses  \
0          0               < 0 DM                       6
1          1    0 <= ... < 200 DM                      48
2          0  no checking account                      12
3          0               < 0 DM                      42
4          1               < 0 DM                      24
..       ...                  ...                     ...
995        0  no checking account                      12
996        0               < 0 DM                      30
997        0  no checking account                      12
998        1               < 0 DM                      45
999        0    0 <= ... < 200 DM                      45

                                     historico_credito  \
0    critical account/ other credits existing (not ...
1             existing credits paid back duly till now
2    critical account/ other credits existing (not ...
3             existing credits paid back duly till now
4                      delay in paying off in the past
..                                                 ...
995           existing credits paid back duly till now
996           existing credits paid back duly till now
997           existing credits paid back duly till now
998           existing credits paid back duly till now
999  critical account/ other credits existing (not ...

             proposito_emprestimo  valor_emprestimo  \
0             domestic appliances              1169
1             domestic appliances              5951
2    (vacation - does not exist?)              2096
3                radio/television              7882
4                       car (new)              4870
..                            ...               ...
995              radio/television              1736
996                    car (used)              3857
997           domestic appliances               804
998           domestic appliances              1845
999                    car (used)              4576

                      reserva_cc tempo_emprego_atual  taxa_comp_salario  \
0    unknown/ no savings account       .. >= 7 years                  4
1                   ... < 100 DM  1 <= ... < 4 years                  2
2                   ... < 100 DM  4 <= ... < 7 years                  2
3                   ... < 100 DM  4 <= ... < 7 years                  2
4                   ... < 100 DM  1 <= ... < 4 years                  3
..                           ...                 ...                ...
995                 ... < 100 DM  4 <= ... < 7 years                  3
996                 ... < 100 DM  1 <= ... < 4 years                  4
997                 ... < 100 DM       .. >= 7 years                  4
998                 ... < 100 DM  1 <= ... < 4 years                  4
999          100 <= ... < 500 DM          unemployed                  3

                          sexo_est_civil  ... anos_residencia_atual  \
0                          male : single  ...                     4
1    female : divorced/separated/married  ...                     2
2                          male : single  ...                     3
3                          male : single  ...                     4
4                          male : single  ...                     4
..                                   ...  ...                   ...
995  female : divorced/separated/married  ...                     4
996            male : divorced/separated  ...                     4
997                        male : single  ...                     4
998                        male : single  ...                     4
999                        male : single  ...                     4

                                           propriedade idade  \
0                                          real estate    67
1                                          real estate    22
2                                          real estate    49
3    if not A121 : building society savings agreeme...    45
4                                unknown / no property    53
..                                                 ...   ...
995                                        real estate    31
996  if not A121 : building society savings agreeme...    40
997  if not A121/A122 : car or other, not in attrib...    38
998                              unknown / no property    23
999  if not A121/A122 : car or other, not in attrib...    27

     outros_planos_financiamento tipo_residencia n_creditos_banco  \
0                           none             own                2
1                           none             own                1
2                           none             own                1
3                           none        for free                1
4                           none        for free                2
..                           ...             ...              ...
995                         none             own                1
996                         none             own                1
997                         none             own                1
998                         none        for free                1
999                         none             own                1

                                        status_emprego n_dependentes  \
0                          skilled employee / official             1
1                          skilled employee / official             1
2                                 unskilled - resident             2
3                          skilled employee / official             2
4                          skilled employee / official             2
..                                                 ...           ...
995                               unskilled - resident             1
996  management/ self-employed/ highly qualified em...             1
997                        skilled employee / official             1
998                        skilled employee / official             1
999                        skilled employee / official             1

                                      telefone trabalhador_estrangeiro
0    yes, registered under the customers name                      yes
1                                         none                     yes
2                                         none                     yes
3                                         none                     yes
4                                         none                     yes
..                                         ...                     ...
995                                       none                     yes
996  yes, registered under the customers name                      yes
997                                       none                     yes
998  yes, registered under the customers name                      yes
999                                       none                     yes

[1000 rows x 21 columns]

In [283]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [284]:
df_transformado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               1000 non-null   int64
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   object
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   object
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: int64(9), object(12)
memory usage: 164.2+ KB

In [285]:
df_transformado['telefone'].unique()

array(['yes, registered under the customers name ', 'none'], dtype=object)

In [286]:
dict_telefone = {
    'yes, registered under the customers name ':1,
    'none':0,
}

df_transformado['telefone'] = df_transformado['telefone'].map(dict_telefone)

In [287]:
df_transformado['trabalhador_estrangeiro'].unique()

array(['yes', 'no'], dtype=object)

In [288]:
dict_trabalhador_estrangeiro = {
    'yes':1,
    'no':0,
}

df_transformado['trabalhador_estrangeiro'] = df_transformado['trabalhador_estrangeiro'].map(dict_trabalhador_estrangeiro)

In [289]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,1,1
1,1,2,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,0,1
2,0,3,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,0,1
3,0,1,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,0,1
4,1,1,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,0,1

In [290]:
dict_hc={
    'critical account/ other credits existing (not at this bank)':1,
    'existing credits paid back duly till now':2,
    'delay in paying off in the past':3,
    'no credits taken/ all credits paid back duly':4,
    'all credits at this bank paid back duly':5
}
df_transformado['historico_credito'] = df_transformado['historico_credito'].map(dict_hc)



dict_pe={
    'domestic appliances':1,
    '(vacation - does not exist?)':2,
    'radio/television':3,
    'car (new)':4,
    'car (used)':5,
    'business':6,
    'repairs':7,
    'education':8,
    'furniture/equipment':9,
    'retraining':10


}
df_transformado['proposito_emprestimo'] = df_transformado['proposito_emprestimo'].map(dict_pe)



dict_rc={
    'unknown/ no savings account':1,
    '... < 100 DM':2,
    '500 <= ... < 1000 DM ':3,
    '.. >= 1000 DM ':4,
    '100 <= ... < 500 DM':5
}
df_transformado['reserva_cc'] = df_transformado['reserva_cc'].map(dict_rc)

In [291]:
df_transformado['tempo_emprego_atual'].unique()
dict_cc={
        '.. >= 7 years':1,
        '1 <= ... < 4 years':2,
        '4 <= ... < 7 years':3,
        'unemployed':4,
        '... < 1 year ':5

    }
df_transformado['tempo_emprego_atual'] = df_transformado['tempo_emprego_atual'].map(dict_cc)


df_transformado['sexo_est_civil'].unique()
dict_cc={
    'male : single':1,
    'female : divorced/separated/married':2,
     'male : divorced/separated':3,
     'male : married/widowed':4
}
df_transformado['sexo_est_civil'] = df_transformado['sexo_est_civil'].map(dict_cc)

In [292]:
df_transformado['outros_fiadores'].unique()


# Dictionary
dict_ofiador_cc = {
    'none': 0,
    'guarantor': 1,
    'co-applicant': 2

}

df_transformado['outros_fiadores'] = df_transformado['outros_fiadores'].map(dict_ofiador_cc)

In [293]:
df_transformado['outros_planos_financiamento'].unique()

dict_opf = {
    'none': 1,
    'bank': 2,
    'stores': 3,
    
}
df_transformado['outros_planos_financiamento'] = df_transformado['outros_planos_financiamento'].map(dict_opf)

In [294]:
df_transformado['propriedade'].unique()
dict_cc_prop = {
    'real estate': 1,
    'if not A121 : building society savings agreement/ life insurance': 2,
    'unknown / no property': 3,
    'if not A121/A122 : car or other, not in attribute 6': 4
}


df_transformado['propriedade'] = df_transformado['propriedade'].map(dict_cc_prop)

In [295]:
df_transformado['tipo_residencia'].unique()


dict_res = {
    'own':1,
    'for free':2,
    'rent':3,
}

df_transformado['tipo_residencia'] = df_transformado['tipo_residencia'].map(dict_res)

In [296]:
df_transformado['status_emprego'].unique()

dict_status = {
    'skilled employee / official':1,
    'unskilled - resident':2,
    'management/ self-employed/ highly qualified employee/ officer':3,
    'unemployed/ unskilled - non-resident':4
}


df_transformado['status_emprego'] = df_transformado['status_emprego'].map(dict_status)

In [297]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,1,1169,1,1,4,1,...,4,1,67,1,1,2,1,1,1,1
1,1,2,48,2,1,5951,2,2,2,2,...,2,1,22,1,1,1,1,1,0,1
2,0,3,12,1,2,2096,2,3,2,1,...,3,1,49,1,1,1,2,2,0,1
3,0,1,42,2,3,7882,2,3,2,1,...,4,2,45,1,2,1,1,2,0,1
4,1,1,24,3,4,4870,2,2,3,1,...,4,3,53,1,2,2,1,2,0,1

# Criando um novo CSV

In [298]:
# para se resguardar de todo o seu trabalho crie um novo .csv 4 index=False, evite que o indice seja 
df_mapeado.to_csv('dataset/df_mapeado.csv', index=False)

NameError: name 'df_mapeado' is not defined

In [ ]:
df_mapeado.isna().sum()